body {
  margin: 0;
  padding: 0;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: black;
  font-size: 45px;
  font-family: "Lato", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin-top: 34px;
  font-weight: 300;
  background: linear-gradient(to right,#3b3b3b 50%, #fff 40%);
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent; 
  -webkit-text-fill-color: transparent;
  transition: 2s ease-in-out ;
  
}
h2:hover {
  animation: textanimation reverse infinite 2s;

   transform: scale(1.07,1.07);
    transition: 2s cubic-bezier(0, 0.21, 0.18, 0.9);
 
}

@keyframes textanimation {
 
  to {
    background-position: 200% center;
    
  }
  
}
p{
  color:#ddd;
  font-size:20px;
}